.rotating-eft-btn-container{
    background: #264653;
}

.rotating-eft-btn{
    color: black;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition:500ms ease-in ;
}

.rotating-eft-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cdb4db;
    transform-origin: bottom left;
    z-index: -1;
    transform: rotate(-90deg);
    transition: transform 500ms;
}

.rotating-eft-btn:hover{
    color: white;
}
.rotating-eft-btn:hover:before{
    transform: rotate(0deg);
}